@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    border-style: solid;
    border-width: 0 0 3px 0;
    padding-bottom: 0px;
    margin-bottom: 20px;
    width: fit-content;
    border-image: linear-gradient(45deg, rgb(10, 132, 255), rgb(145, 6, 255)) 1;
  }
  h2 {
    background: -webkit-linear-gradient(rgb(10, 132, 255), rgb(145, 6, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.avatar {
  box-sizing: border-box;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
}
