@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    border-style: solid;
    border-width: 0 0 3px 0;
    padding-bottom: 0px;
    margin-bottom: 20px;
    width: fit-content;
    border-image: linear-gradient(45deg, rgb(10, 132, 255), rgb(145, 6, 255)) 1;
  }
  h2 {
    background: -webkit-linear-gradient(rgb(10, 132, 255), rgb(145, 6, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
body {
}
.text-oscuro {
  color: white;
}
.title {
  background-color: #1a1a1a;
}

.title::after,
.title::before {
  content: "";
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: white;
  transition: all 0.2s;
}

.title::after {
  transform: rotate(90deg);
}

.content {
  max-height: 0;
  transition: all 1s;
}

.toggle:checked + .title,
.toggle:checked + .title + .content {
}
.toggle:checked + .title + .content {
  max-height: 500px;
}
.toggle:checked + .title::before {
  transform: rotate(90deg) !important;
}
